
/* mobile */

@media (max-width: 767px) {

    /* .mb-20 {
        margin-bottom: 20px;
    } */

    .mb-60 {
        margin-bottom: 60px;
    }

    .mb-15 {
        margin-bottom: 15px;
    }


    .heading {
        font-size: var(--font-size-heading-mb);
        line-height: var(--line-height-heading-mb);
    }

    .btn-category {
        bottom: 10px;
    }


    .category-heading {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 20px;
    }

    .category-product__img img {
        height: 222px;
        display: block;
    }

    .category {
        margin-bottom: 80px;
    }

    .discover-vid {
        min-height: 345px;
    }

    .discover-content {
        padding: 60px 30px;
    }

    .featured-heading {
        margin-top: 80px;
        margin-bottom: 25px;
    }

    .feature-img img {
        height: 150px;
        width: 150px;
        display: block;
    }

    .featured-row {
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .featured-row::-webkit-scrollbar {
        display: none;
    }

    .featured {
        overflow: hidden;
        margin-bottom: 40px;
    }

    .product-name {
        font-size: var(--font-size-regular);
        line-height:var(--line-height-regular);
    }

    .btn-feature {
        padding: 8px 14px;
    }

    .feature-icon--active,
    .feature-icon {
        top: -5px;
        right: 0px;
    }

    .feature-icon:hover::after {
        display: none;
    }  

    .collection-content {
        padding: 75px 0;
    }

    .collection-wrap {
        background: url('../img/Homepage/Rectangle\ 154.png')  no-repeat center center / cover;
    }

    .service-heading {
        margin-top: 0;
    }

    .service-wrap {
        padding: 40px 0;
    }

    .service-descript {
        max-width: 100%;
    }

    .footer-logo>a>img {
        width: 93px;
    }

    .footer-logo {
        padding: 40px 0;
        margin-bottom: 50px;

    }

    .footer-title {
        margin-bottom: 20px;
    }

    .footer-addres {
        max-width: 100%;
    }

    .footer-ifo {
        padding-top: 0;
    }

    .mb-order:nth-child(1) {
        order: 2
    }

    .mb-order:nth-child(2) {
        order: 3
    }

    .mb-order:nth-child(3) {
        order: 4
    }

    .mb-order:nth-child(4) {
        order: 1
    }

    /* menu */
    .search-form__btn,
    .search-form__control {
        font-size: 1.5rem;
    }
   
    .container__small,
    .container__large {
        padding-left: 15px !important;
        padding-right: 15px !important;

    }
}

/* tablet */

@media (min-width: 768px) and (max-width: 1023px) {
    .mb-50-tab {
        margin-bottom: 50px;
    }

    .footer-ifo {
        padding-top: 40px;
    }

    .featured-wrap {
        text-align: center;
    }

    .discover-content {
        padding: 0 60px;
    }
}



/* mb-tab */

@media (max-width: 1023px) {
    .mb-20-mb-tab {
        margin-bottom: 20px;
    }

    .header-logo {
        margin: 15px 0;
    }

    .header-logo > img{
        width: 79px;
    
    }

    .menu-icon {
        font-size: 2.6rem;
    }

    .close-icon {
        font-size: 2.6rem;
        display: none;
    }

    .close-icon.active {
        display: block;
    }

    .menu-icon.disabled {
        display: none;
    }

    /* .close-icon  */

   

    .hero-heading {
        padding: 215px 0 15px;
        font-size: 1.8rem;
        line-height: 2.7rem;
    }
    
    .button {
        padding-bottom: 15px;
    }

    .pre-btn {
        left: 15px;
    }

    .next-btn {
        right: 15px;
    }

    .hero-container__wrap {
        background-position: -160px 0px;
    }

    .header-nav{
        position: relative;
        box-shadow: inset 0px -1px 0px #ECECEC;
    }

    .header-list {
        position: absolute;
        display: block;
        top:70px;
        left: 0;
        background-color: var(--white-color);
        z-index: 3;
        width: 100%;
        box-shadow: inset 0px -1px 0px #ECECEC; 
        height: 0;
        overflow: hidden;
    }

    .header-items {
        padding: 15px;
        margin: 0;
    }

    .header-link::after {
        display: none;
    }

    .header-items:hover {
        background-color: var(--gray-bgc)
    }

    .header-items:last-child {
        margin-bottom: 15px;
    }

    .header-items:first-child {
        margin-top: 15px;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;
        display: none;
    }

    .header-wrap {
        z-index: 4;
        position: relative;
    }

    .hidden-pc {
        display: block;
    }

    .hidden-mb {
        display: none;
    }

    .heading-header,
    .laguage {
        flex: none;
    }

    /* heading h1 all  */

    .heading-history {
        padding: 57px 0
    }

    .header-above__contain span{
       display: none;
    }
   
}

/* pc resolution */

@media (min-width: 1024px) and (max-width: 1362px) {
    .header-items {
        margin: 0 10px;
    }

    .header-link {
        --font-size-regular: 1.1rem;
    }
}